/*  your css code here. If applicable */
.container{
	padding:10px;
	background-color:#f5f5f5;
	
}
.p1{
	background-color:white;
	padding:3px;
	border:2px solid black;
	margin:5px;
}
.autor{
	text-align:right;
	font-style:italic;
}